<%- include('includes/htmlBegin.ejs') %>
<%- include('includes/headBegin.ejs') %>
<%- include('includes/headEnd.ejs') %>
<%- include('includes/bodyBegin.ejs') %>
<%- include('includes/headerBegin.ejs') %>
<%- include('includes/navBegin.ejs') %>
<%- include('includes/navEnd.ejs') %>
<%- include('includes/headerEnd.ejs') %>

<main>
    <h1>Page not found</h1>
</main>

<%- include('includes/bodyEnd.ejs') %>
<%- include('includes/footerBegin.ejs') %>
<%- include('includes/footerEnd.ejs') %>
<%- include('includes/htmlEnd.ejs') %>