<%- include('includes/head.ejs') %>
<%- include('includes/header.ejs') %>
<main>
    <form action="/add-event" method="POST">
        <input type="text" name="title">
        <button type="submit">Add Event</button>
    </form>
    <% if (events.length > 0) { %>
    <div>
        <h1>Events</h1>
        <% for (let event of events) { %>
        <div>
            <h2><%= event.title %></h2>
            <p><%= event.id %></p>
        </div>
        <% } %>
    </div>
    <% } else { %>
    <h1>No Events</h1>
    <% } %>
</main>
<%- include('includes/footer.ejs') %>
<%- include('includes/end.ejs') %>