<%- include('includes/htmlBegin.ejs') %>
<%- include('includes/headBegin.ejs') %>
<%- include('includes/headEnd.ejs') %>
<%- include('includes/bodyBegin.ejs') %>

<main>
    Template for EJS
</main>

<%- include('includes/bodyEnd.ejs') %>
<%- include('includes/footerBegin.ejs') %>
<%- include('includes/footerEnd.ejs') %>
<%- include('includes/htmlEnd.ejs') %>
